body {
  padding-bottom: 20px;
  background-color: #ddd ;
  font-family: 'Open Sans';
}

.jumbotron{
    background-color: #eee;
}
.btn{
    transition: 0.3s ease-in all
}
.error{
    color:red;
    margin:5px 0
}
