<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700,600,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse" style=" margin-bottom:0; border-radius:0">
        <div class="container-fluid">
            <div>
                <span class="navbar-brand" style="height: 0;"><a href="/">DZIEKANAT</a></span>
            </div>
            <ul class="nav navbar-nav" style="font-size:13px">
                <li><a href="/budynki">Budynki</a></li>
                <li><a href="/studenci">Studenci</a></li>
                <li><a href="/kierunki">Kierunki</a></li>
                <li><a href="/przedmioty">Przedmioty</a></li>
                <li><a href="/pracownicy">Pracownicy</a></li>
                <li><a href="/spis-zajec">Spis zajęć</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right" style="font-size:13px">
                <li><a href="{{ url|safe }}" data-toggle="tooltip"
                data-placement="bottom" title="Automatycznie wykrywa konto Google">
                <span class="glyphicon glyphicon-log-in"></span> </a></li>
            </ul> -->
        </div>
    </nav>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h2>Witaj w systemie dziekanatu</h2>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

            </div>
            <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
        </div>
    </div>
    {% endblock %}
</body>

</html>
