{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Lista budynków</h2>
        </div>
        <a href="/budynki/dodaj-budynek">
            <button class="btn btn-sm btn-info">Dodaj budynek</button>
        </a>
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NUMER</th>
                        <th>SALE</th>
                        <th>DATA DODANIA</th>
                        <th>OSTATNIA EDYCJA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for budynek in budynki %}
                    <tr>
                        <td><strong>{{ budynek.numer }}</strong></td>
                        <td>{{ budynek.get_rooms() }}</td>
                        <td>{{ budynek.get_date() }}</td>
                        <td>{{ budynek.get_edit_date() }}</td>
                        <td style="width:4%">
                            <a href="/budynki/edytuj-budynek/{{budynek.key().id()}}">
                                <button class="btn btn-xs btn-warning">Edytuj</button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="/budynki">
                                <input type="hidden" name="id" value="{{ budynek.key().id() }}">
                                <button onclick="return confirm('Na pewno chcesz usunąć budynek {{ budynek.numer }} i jego sale z bazy danych?')" class="btn btn-xs btn-danger" type="submit" name="delete">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>
{% endblock %}
