{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Dodaj budynek</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-group" method="post" action="/budynki/dodaj-budynek" role="form">
                <div class="form-group">
                    <label>Numer budynku</label>
                    <input type="number" class="form-control" name="numer" min="1" max="50" required>
                </div>
                <div class="form-group">
                    <label style="display:block">Sale:</label>
                    <div id="budynki" name="budynki">
                    </div>
                    <button type="button" class="btn btn-xs btn-warning" id="dodajBudynek">Dodaj</button>
                </div>
                <button class="btn btn-info" type="submit">Stwórz</button>
            </form>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>

{% endblock %}
