{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Dodaj przedmiot</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-group" method="post" action="/przedmioty/dodaj-przedmiot" role="form">
                <div class="form-group">
                    <label>Nazwa przedmiotu</label>
                    <input type="text" class="form-control" name="nazwa" required>
                </div>
                <div class="form-group">
                    <label style="display:block">Nauczyciele</label>
                    {% for pracownik in pracownicy %}
                    <input type="checkbox" name="nauczyciele" value="{{pracownik.key()}}"> {{pracownik.nazwisko}} {{pracownik.imie}}</input>
                    <br>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label style="display:block">Budynek : sala</label>
                    <select class="form-control" name="budynek-sala">
                        {% for budynek in budynki %}
                        {% for sala in budynek.sale %}
                        <option>{{budynek.numer}} : {{sala}}</option>
                        {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-info" type="submit">Stwórz</button>
            </form>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>

{% endblock %}
