{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Dodaj kierunek</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-group" method="post" action="/kierunki/dodaj-kierunek" role="form">
                <div class="form-group">
                    <label>Nazwa kierunku</label>
                    <input type="text" class="form-control" name="nazwa" required>
                </div>
                <div class="form-group">
                    <label style="display:block">Przedmioty</label><br>
                    <table>
                        <thead>
                            <tr>
                                <th>NAZWA</th>
                                <th style="padding-left:20px">ROK</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for przedmiot in przedmioty %}
                            <tr>
                                <td><input type="checkbox" name="przedmioty" value="{{przedmiot.nazwa}}"> {{przedmiot.nazwa}}  </input></td>
                                <td style="padding-left:20px"><select class="form-control" name="rok">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
                <button class="btn btn-info" type="submit">Stwórz</button>
            </form>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>

{% endblock %}
