{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Dodaj pracownika</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-group" method="post" action="/pracownicy/dodaj-pracownika" role="form">
                <div class="form-group">
                    <label>Imię pracownika</label>
                    <input type="text" class="form-control" name="imie" required>
                </div>
                <div class="form-group">
                    <label>Nazwisko pracownika</label>
                    <input type="text" class="form-control" name="nazwisko" required>
                </div>
                <button class="btn btn-info" type="submit">Stwórz</button>
            </form>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>

{% endblock %}
