{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Edytuj studenta</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-group" method="post" action="/studenci/edytuj-studenta/{{student.key().id()}}" role="form">
                <div class="form-group">
                    <label>Nr indeksu</label>
                    <input type="number" class="form-control" name="nr-indeksu" value="{{student.nr_indeksu}}" min="10000" max="50000" required>
                </div>
                <div class="form-group">
                    <label>Imię studenta</label>
                    <input type="text" class="form-control" name="imie" value="{{student.imie}}" required>
                </div>
                <div class="form-group">
                    <label>Nazwisko studenta</label>
                    <input type="text" class="form-control" name="nazwisko" value="{{student.nazwisko}}" required>
                </div>
                <div class="form-group">
                    <label style="display:block">Kierunek</label>
                    <select class="form-control" name="kierunek">
                    {% for kierunek in kierunki %}
                    <option value="{{kierunek.key()}}" {% if kierunek.key() in student.kierunek %}selected{% endif %}>{{kierunek.nazwa}}</option>
                    {% endfor %}
                </select>
                <br>
                </div>
                <div class="form-group">
                    <label>Rok studiów</label>
                    <input type="number" class="form-control" name="rok" value="{{student.rok}}" min="1" max="5" required>
                </div>
                <button class="btn btn-info" type="submit">Aktualizuj</button>
            </form>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>

{% endblock %}
