{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Edytuj kierunek</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-group" method="post" action="/kierunki/edytuj-kierunek/{{kierunek.key().id()}}" role="form">
                <div class="form-group">
                    <label>Nazwa kierunku</label>
                    <input type="text" class="form-control" name="nazwa" value="{{kierunek.nazwa}}" required>
                </div>
                <div class="form-group">
                    <label style="display:block">Przedmioty</label><br>
                    <table>
                        <thead>
                            <tr>
                                <th>NAZWA</th>
                                <th style="padding-left:20px">ROK</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for przedmiot in lista_przedmiotow %}
                            <tr>
                                <td><input type="checkbox" name="przedmioty" value="{{przedmiot.nazwa}}" {% if przedmiot.parent() and przedmiot.parent().key().id() == kierunek.key().id() %}checked{% endif %}> {{przedmiot.nazwa}}</input></td>
                                <td style="padding-left:20px"><select class="form-control" name="rok" value="{{przedmiot.rok}}">
                                    {% for x in range(1,6) %}
                                    <option value="{{x}}"{% if przedmiot.rok == x %}selected{% endif %}>{{x}}</option>
                                    {% endfor %}
                                </select></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
                <button class="btn btn-info" type="submit">Aktualizuj</button>
            </form>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>
{% endblock %}
