{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Edytuj budynek</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-group" method="post" action="/budynki/edytuj-budynek/{{budynek.key().id()}}" role="form">
                <div class="form-group">
                    <label>Numer budynku</label>
                    <input type="number" class="form-control" name="numer" min="1" max="50" value="{{budynek.get_raw_building_number()}}" required>
                </div>
                <div class="form-group">
                    <label style="display:block">Sale:</label>
                    <div id="budynki" name="budynki">
                        {% for sala in sale %}
                        <div>
                        <input class="form-control" style="margin:5px 0; width:80%; display:inline-block" name="sala" type="number" value="{{sala}}" min="1" max="1000" placeholder="numer..." required>
                        <button class="usunBudynek btn btn-xs btn-danger" style="margin:0 5px">X</button>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-xs btn-warning" id="dodajBudynek">Dodaj</button>
                </div>
                <button class="btn btn-info" type="submit">Aktualizuj</button>
            </form>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>

{% endblock %}
