{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Lista kierunków</h2>
        </div>
        <a href="/kierunki/dodaj-kierunek">
            <button class="btn btn-sm btn-info">Dodaj kierunek</button>
        </a>
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NAZWA</th>
                        <th>SKRÓCONA LISTA PRZEDMIOTÓW</th>
                        <th>OSTATNIA EDYCJA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for kierunek in kierunki %}
                    <tr>
                        <td><strong>{{ kierunek.nazwa }}</strong></td>
                        <td>{{ kierunek.get_names() }}</td>
                        <td>{{ kierunek.get_edit_date() }}</td>
                        <td style="width:4%">
                            <a href="/kierunki/edytuj-kierunek/{{kierunek.key().id()}}">
                                <button class="btn btn-xs btn-warning">Edytuj</button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="/kierunki">
                                <input type="hidden" name="id" value="{{ kierunek.key().id() }}">
                                <button onclick="return confirm('Na pewno chcesz usunąć kierunek {{ kierunek.nazwa }} z bazy danych?')" class="btn btn-xs btn-danger" type="submit" name="delete">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>
{% endblock %}
