{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Lista pracowników</h2>
        </div>
        <a href="/pracownicy/dodaj-pracownika">
            <button class="btn btn-sm btn-info">Dodaj pracownika</button>
        </a>
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NAZWISKO</th>
                        <th>IMIĘ</th>
                        <th>DATA DODANIA</th>
                        <th>OSTATNIA EDYCJA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pracownik in pracownicy %}
                    <tr>
                        <td><strong>{{ pracownik.nazwisko }}</strong></td>
                        <td>{{ pracownik.imie }}</td>
                        <td>{{ pracownik.get_date() }}</td>
                        <td>{{ pracownik.get_edit_date() }}</td>
                        <td style="width:4%">
                            <a href="/pracownicy/edytuj-pracownika/{{pracownik.key().id()}}">
                                <button class="btn btn-xs btn-warning">Edytuj</button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="/pracownicy">
                                <input type="hidden" name="id" value="{{ pracownik.key().id() }}">
                                <button onclick="return confirm('Na pewno chcesz usunąć pracownika {{ pracownik.imie }} {{ pracownik.nazwisko }} z bazy danych?')" class="btn btn-xs btn-danger" type="submit" name="delete">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>
{% endblock %}
