{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Lista przedmiotów</h2>
        </div>
        <a href="/przedmioty/dodaj-przedmiot">
            <button class="btn btn-sm btn-info">Dodaj przedmiot</button>
        </a>
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NAZWA</th>
                        <th>PRACOWNICY</th>
                        <th>BUDYNEK</th>
                        <th>SALA</th>
                        <th>OSTATNIA EDYCJA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for przedmiot in przedmioty %}
                    <tr>
                        <td><strong>{{ przedmiot.nazwa }}</strong></td>
                        <td>{{ przedmiot.get_teachers() }}</td>
                        <td>{{ przedmiot.budynek }}</td>
                        <td>{{ przedmiot.sala }}</td>
                        <td>{{ przedmiot.get_edit_date() }}</td>
                        <td style="width:4%">
                            <a href="/przedmioty/edytuj-przedmiot/{{przedmiot.key().id()}}">
                                <button class="btn btn-xs btn-warning">Edytuj</button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="/przedmioty">
                                <input type="hidden" name="id" value="{{ przedmiot.key().id() }}">
                                <button onclick="return confirm('Na pewno chcesz usunąć przedmiot {{ przedmiot.imie }} {{ przedmiot.nazwisko }} z bazy danych?')" class="btn btn-xs btn-danger" type="submit" name="delete">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>
{% endblock %}
