{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Lista przedmiotów na poszczególnym kierunku</h2>
        </div>
        <form class="form-group" method="post" action="/spis-zajec" role="form">
            <div class="form-group">
                <label>Wybierz kierunek</label>
                <select class="form-control" name="kierunek-id">
                    {% for kierunek in kierunki %}
                    <option value="{{kierunek.key().id()}}">{{kierunek.nazwa}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-info" type="submit">Potwierdź wybór</button>
        </form>
        {% block spis %}{% endblock %}
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>
{% endblock %}
