{% extends "spis-zajec.html" %} {% block spis %}
        {% for x in range(1,6) %}
        {% if x in lista_przedmiotow %}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3><strong>Rok {{x}}</strong></h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>PRZEDMIOT</th>
                        <th>BUDYNEK</th>
                        <th>SALA</th>
                        <th class="text-right">WYKŁADOWCY</th>
                    </tr>
                </thead>
                <tbody>
                    {% for przedmiot in kierunek.przedmioty %}
                    {% if przedmiot.rok == x %}
                    <tr>
                        <td><strong>{{ przedmiot.nazwa }}</strong></td>
                        <td>{{ przedmiot.get_budynek() }}</td>
                        <td>{{ przedmiot.get_sala() }}</td>
                        <td class="text-right">{{przedmiot.get_teachers2()}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
        {% endif %}
        {% endfor %}
{% endblock %}
