{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Lista studentów</h2>
        </div>
        <a href="/studenci/dodaj-studenta">
            <button class="btn btn-sm btn-info">Dodaj studenta</button>
        </a>
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NR INDEKSU</th>
                        <th>NAZWISKO</th>
                        <th>IMIĘ</th>
                        <th>KIERUNEK</th>
                        <th>ROK STUDIÓW</th>
                        <th>DATA DODANIA</th>
                        <th>OSTATNIA EDYCJA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in studenci %}
                    <tr>
                        <td>{{ student.nr_indeksu }}</td>
                        <td><strong>{{ student.nazwisko }}</strong></td>
                        <td>{{ student.imie }}</td>
                        <td>{{ student.get_major() }}</td>
                        <td>{{ student.rok }}</td>
                        <td>{{ student.get_date() }}</td>
                        <td>{{ student.get_edit_date() }}</td>
                        <td style="width:4%">
                            <a href="studenci/edytuj-studenta/{{student.key().id()}}">
                                <button class="btn btn-xs btn-warning">Edytuj</button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="/studenci">
                                <input type="hidden" name="id" value="{{ student.key().id() }}">
                                <button onclick="return confirm('Na pewno chcesz usunąć studenta {{ student.imie }} {{ student.nazwisko }} z bazy danych?')" class="btn btn-xs btn-danger" type="submit" name="delete">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <span style="visibility:hidden; position:absolute; bottom:0; color:#333">INFORMATYKA ZAOCZNA rok 3 Adrian Laskowski nr albumu 127553</span>
    </div>
</div>
{% endblock %}
